<div class="recipes-container">
<h1><%= @recipe.name %></h1>

<div class="recipes-features">
<p>Preparation Time: <%= @recipe.preparation_time %> hours</p>
<p>Cooking Time: <%= @recipe.cooking_time %> hours</p>
<!-- <p>Public: <%= @recipe.public? ? 'Yes' : 'No' %></p> -->
@@ -22,16 +21,26 @@
    <% end %>
  </p>
<% end %>
</div>

<div class="recipes-container">
<% @recipe_foods.each do |recipe_food| %>
  <div class="food">
    <div><%= recipe_food.food.name %></div>
    <div>Qty: <%= recipe_food.quantity %></div>
    <div>Total Price: $<%= recipe_food.food.price * recipe_food.quantity %></div>
    <div>
      <div class="food_btn_spc"><%= link_to "Edit this food", edit_food_path %></div>
      <div><%= button_to 'Remove', recipe_food_path(recipe_id: @recipe.id, id: recipe_food.id), method: :delete, class: 'remove_btn' %></div>
    </div>
  </div>
<% end %>
</div>

<div class="list_btn">
<button class="recipe_btn"><%= link_to 'Add ingredient', recipe_foods_path(recipe_id: @recipe.id) %></button>
<button type="button" class="recipe_btn"><%= link_to "Go to public recipes", public_recipes_path %></button>
<button class="recipe_btn"><%= link_to 'Edit', edit_recipe_path(id: @recipe.id), class: 'edit_btn' %></button>
</div>

</div>
